.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #4B3A6D;
    color: #fff;
}

.navbar-default {
    background: #fff;
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
    cursor: hand;
}

.list-group-item.disabled.shaded {
    background-color: #7E61B7;
    color: #fff;
}

.list-group-item.disabled.shaded:hover {
    background-color: #7E61B7;
}

.list-group-item.disabled:hover {
    background-color: #e2e2e2;
}

.list-group-item.input, .list-group-item.input:hover {
    background-color: #eee;
}

.list-group-item {
    background-color: #4B3A6D;
}

a.list-group-item, button.list-group-item {
    color: #fff;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #fff;
    background-color: #6A529B;
}

.panel-default>.panel-heading {
    background-color: #3f3f3f;
    color: #fff;
}

.alert {
    margin-bottom: 0;
}

.list-group-item>.badge+.badge.receipt {
    background-color: #8E529B;
}

button {
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.btn, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-default.focus, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover, .btn-info.focus, .btn-info:focus {
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.badge {
    min-width: 50px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}